body {
  margin: 0;
  font-family: "Raleway";
  transition: background 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth;
}

body.light {
  background: white;
  color: rgb(0, 0, 0);
}

body.dark {
  background: black;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo{
  font-size: 24px;
  font-weight: bold;
  background: rgba(78, 159, 13, 1);
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 70px;
}

.controls {
  display: flex;
  gap: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  gap: 20px;
}

.navbar li {
  padding: 25px 20px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar li:hover {
  background: rgba(78, 159, 13, 1);
}

.navbar ul.active{
  background: rgba(255, 255, 255, 0.2);
}

.navbar a {
  color: white;
  text-decoration: none;
}

.controls{
  margin-right: 70px;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
}

.controls button:hover {
  color: rgba(78, 159, 13, 1);
}

header {
  height: 100vh;
  padding: 0px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/bg_img.png') no-repeat center center/cover;
  h1{
    font-size: 72px;
    font-weight: 900;
    color: rgba(78, 159, 13, 1);
  }
  span{
    font-size: 24px;
    font-weight: 500;
    color: rgba(78, 159, 13, 1);
  }
  button{
    font-family: "Raleway";
    cursor: pointer;
    font-size: 60px;
    padding: 20px 40px;
    color: #fff;
    border-radius: 5px;
    background: rgba(78, 159, 13, 1);
    border : none;
  }
}